node_modules
dist
.env
.git
.gitignore
.next
.vscode
Dockerfile
README.md
postman_collection.json
LOC_PREP.postman_collection.json
uploads
*.db
backend/node_modules
backend/dist
backend/uploads
frontend/node_modules
frontend/.next
identity-service/__pycache__
identity-service/venv
